
<div class="container">
<div class="color-div">
<div class="row">
     <div class="col-md-12"><div class = "panel panel-primary">
       <div class = "panel-heading">
      <h1 class = "panel-title" align="center">Tools<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-wrench"></span></a></li></h1>
    </div></div>
    
    <div class="col-md-4"><%= image_tag("reroute.png")%><div class="app-name"><a href="#">Reroute</a></div>
     </div>
    <div class="col-md-4"><%= image_tag("autoTGB.png")%><div class="app-name"><a href="#">AutoTGB</a></div>
    </div>
   <div class="col-md-4" style="background-color:lavender;">.col-sm-4</div>
  </div>
</div>
</div>
<div class="space"></div>
  <div class="color-div"><div class="row">
       <div class="col-md-12"><div class = "panel panel-primary">
       <div class = "panel-heading">
      <h1 class = "panel-title" align="center">Reports<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-stats"></span></a></li></h1>
    </div>
    </div>
    
    <div class="col-md-4"><%= image_tag("reroute.png")%><div class="app-name"><a href="#">Reroute</a></div>
     </div>
    <div class="col-md-4"><%= image_tag("autoTGB.png")%><div class="app-name"><a href="#">AutoTGB</a></div>
    </div>
   <div class="col-md-4" style="background-color:lavender;">.col-sm-4</div>
  </div>
</div>
</div>
<div class="space"></div>
<div class="color-div"><div class="row">
<div class="col-md-12"><div class = "panel panel-primary">
       <div class = "panel-heading">
      <h1 class = "panel-title" align="center">Tools<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-hourglass"></span></a></li></h1>
    </div></div>
    
    <div class="col-md-4"><%= image_tag("reroute.png")%><div class="app-name"><a href="#">Reroute</a></div>
     </div>
    <div class="col-md-4"><%= image_tag("autoTGB.png")%><div class="app-name"><a href="#">AutoTGB</a></div>
    </div>
   <div class="col-md-4" style="background-color:lavender;">.col-sm-4</div>
</div>
</div> 
</div>

